<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/hello" method="post">
        <button type="submit">submit</button>
    </form>

    <% list.forEach(e => { %>
        <label name="<%= e %>" value="<%= e %>" for=""><%= e %></label>
        <form action="/delete" method="post">
            <button name="button" value="<%= e %>" type="submit">x</button>
        </form>
    <% }) %>
    
</body>
</html>
